# b站精简占用
[filter_local]
host,upos-sz-staticcos.bilivideo.com,reject

[rewrite_local]
(?=resource\?resourceUrl|upos\-sz\-staticcos) url reject
(?=.*(hdslb\.com.*(\.zip|\.mp4)))^((?!(hdslb\.com\/bfs\/app-static\/)).)*$ url reject

